.porta{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: chocolate;
    align-items: center;
}
.numero{
    text-align: center;
    font-size: 50px;
}
.area{
    display: flex;
    width: var(--area-porta-altura);
    height:var(--area-porta-altura);

}
.estrutura{
display: flex;
flex-grow: 1;
border-left: 5px solid crimson;
border-top: 5px solid crimson;
border-right: 5px solid crimson;

}